calApiQuickStart.py
credentials.json
deltoken.json
holder
test.py
timetable data
timetable.json
timeTableSmall.json
tt.openshift.services.adelaide.edu.au.html
tt.openshift.services.adelaide.edu.au_files/all.css
tt.openshift.services.adelaide.edu.au_files/app.css
tt.openshift.services.adelaide.edu.au_files/app.js
webvenv/*
*.pyc
rawImg/*
templatemo_562_space_dynamic/*
mysite/db.sqlite3
unitimetable-312108-a8e9ffa78078.json
token.json
toAdd.txt