

.section-heading {
    padding-bottom: 30px;
}

.faq-title {
    padding-bottom: 30px;
}

.footer {
    padding-top: 0px;
}

/* slide show css */
/*------------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  opacity: 100;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  .container_buttons {
  background-color: rgb(11, 235, 130);
  height: 90px;
  width: 260px;
  position: relative; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 8px -2px #444444;
  
}

input[type="radio"] {
  display: none;
}
.label1 , .label2 {
  display: block;
  height: 180px;
  width: 130px;
  background: linear-gradient(
              to bottom,
              white 0, white 90px,
              #03a4ed 90px, #03a4ed 180px
  );
  position: absolute;
  top: 0;
  color: #2a2a2a;
  transition: 0.5s;
}
.label2 {
  right: 0;
}

#id_cal_type {
  display: flex;
  /* height: 100px; */
  /* width: 200px; */
  justify-content: center;
  align-items: center;
  /*font-family: sans-serif;
  font-weight: bold;*/
  font-size: 36px;
}

input:checked + label {
  background-position: 0 -90px;
  color: #fe3f40;
  transition: 0.7s;
}