{% extends '../base.html' %}

{% block content %}


<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h2>The end has come</h2>
                
                <p>
                 Unfortunately the university has shut down the service the app uses to retrieve the timetable data.
                 This means that the app no longer works and you'll have to either find a different way, do it by hand or pester the university
                 to implement their own one.  
                   
                </p>

                <p> The app will still be <a href="/timetable_legacy" >availible here</a> if you have old timetable data you want to use or can find a different 
                    way to get it. If you do find an alternative, let me know and I can link to it here. 
                </p>

                <p>It's been real XD</p>
             

              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="../../static/img/googleCalendarLogo.png" alt="calendar">
              </div>
              
            </div>
           
            
          </div>
          
        </div>
        
      </div>
      
    </div>
    
  </div>

{% endblock %}