{% extends '../base.html' %}

{% block content %}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h2>Congrats!</h2>
                <p>Here is the link to your calendar. When importing your calender, select iCal from link and insert this link there.</p>
                <p>
                    <a href=" ../timetable/{{cal_code}}.ics"> www.horatioPistachio.com/timetable/{{cal_code}}.ics</a>
                </p>
              </div>
            </div>
           
            
            
          </div>
          
        </div>
        
      </div>
      
    </div>
    
  </div>

{% endblock %}