{% extends '../base.html' %}

{% block content %}



 <div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">

      
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Here are some of the  <em>Projects</em> I am proud of</h2>
          </div>
        </div>
        
      </div>
      <div class="row">
        {% for f in first %}
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          
          <div class="left-image">
            
            <a href="{% url 'projectDetail' name=f.name %}"><img src="{{f.img1.url}}" alt="first img"></a>
            
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> {{f.year}}</li>
                  
                </ul>
                <a href="#"><h4>{{f.name}}</h4></a>
                <p>{{f.blurb}}</p>
                
              </div>
            </div>
          </div>
         
        </div>
        {% endfor %}


        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="right-list">
            <ul>

              {% for project in projectList %}
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> {{project.year}}</span>
                  <a href="#"><h4>{{project.name}}</h4></a>
                  <p>{{project.blurb}}</p>
                </div>
                <div class="right-image">
                  <a href="{% url 'projectDetail' name=project.name %}"><img src="{{project.img1.url}}" alt=""></a>
                </div>
              </li>

              {% endfor %}
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  
{% endblock %}