{% extends '../base.html' %}

{% block content %}



  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <h2>Welcome to the UoA Timetable converter, Pick what timetable you'd like!</h2>
            <div class="col-lg-6 align-self-center">
              <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <a href="/timetableGoogle">
                  <img class="ttChoice" src="../../static/img/googleCalendarLogo.png" alt="calendar" >
                  <h3>Google</h3>
                </a>

                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <p>
               
                  
                  <a href="/timetableiCal">
                  <img class="ttChoice" src="../../static/img/iCalLogo.jpg" alt="icalendar" >
                  <h3>iCal</h3>
                  </a>
              </p>
              </div>
              
            </div>

            <div class = "section-heading">
              <h3>Not sure what to pick??</h3>
              <p>
                <h4>Google</h4>
                <p>This type of timetable is best used if you are using a google calendar. This will send you an email that allows 
                  you to add the calendar into your main one.
                </p>

                <h4>iCal</h4>
                <p>This type of timetable is more universal. This is best if you are using Outlook or Apple calendar.
                  This timetable comes in the form of a link that you can use to import the timetable into your calendar.
                </p>
              </p>
              
            </div>

          
            
          </div>
          
        </div>
        
      </div>
      
    </div>
    
  </div>
 

 
 

{% endblock %}
 