{% extends '../base.html' %}

{% block content %}



  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h2>Welcome to the UofA Timetable converter</h2>
                <p>This web app takes your Uni timetable and puts it into your google calendar. During the process, 
                  the only data collected is the timetable that gets shared with you. All passwords are entered into the Universities system.
                  You can check this by looking at the URL, if it ends with "adelaide.edu.au" the university owns it. The code is open source
                   and more can be found in the <a href="/about">about tab</a>
                </p>
                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="../../static/img/googleCalendarLogo.png" alt="calendar" >
              </div>
              
            </div>

            <div class = "section-heading">
              <h3>Step 1:</h3>
              <p> First you must log into the timetable app using <a href="https://tt.openshift.services.adelaide.edu.au/" target="_blank">this page</a></p>
            </div>

            <div class = "section-heading">
              <h3>Step 2:</h3>
              <p><a href="https://tt.openshift.services.adelaide.edu.au/api/timetable" target="_blank">Click here</a> and then copy the entire page of text, use ctrl+A then ctrl+C</p>
            </div>

            <div class = "section-heading">
              <h3>Step 3:</h3>              
              <p>Fill out the form and hit submit</p>
            </div>
              <form id='contact' method="POST"> {% csrf_token %}
                <h4>Email</h4>
                <p> This is the email address the calendar will be sent to. It must be a google account. I suggest using your university email address</p>
                {{ form.email }}
                <h4>Timetable Data</h4>
                <p> This is the data you got from step 2</p>
                {{ form.raw_data}}
                <p>Be patient, this might take a few minutes</p>
                
                <p>
                <button class="main-button" id="form-submit" type="Submit">Submit</button>
                </p>
              </form>
            
          </div>
          
        </div>
        
      </div>
      
    </div>
    
  </div>
 

 
 

{% endblock %}
 